---
---

@import "fonts";

:root {
  --bg-color: #fff;
  --text-color-default: #222;
  --text-color-accent: #0074d9;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-family: "Muli";
  font-size: 160%;
}

main {
  margin: 20px 0;
  width: 100%;
}

figure {
  margin: 10% 0;
}

img {
  height: 80vh;

  @media (max-width: 1000px) {
    height: auto;
    width: 100%;
  }
}

img.horizontal {
  grid-area: h;
}

img.verticle {
  grid-area: v;
}

nav a,
p a {
  color: var(--text-color-default);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color-default);
}

nav a:hover,
nav a:focus,
p a:hover,
p a:focus {
  color: var(--text-color-accent);
  border-color: var(--text-color-accent);
}

.hidden {
  display: none;
}
